@media screen and (max-width: 480px) {
    .header{
        display: none;
    }
    .menu-button {
        background: #7b7b7b;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: relative;
        border-radius: 1em;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 4px auto;
        transition: 0.4s;
    }

    .title {
        font-size: 2em;
        text-align: center;
        font-family: "Brush Script MT";
    }

    .App {
        text-align: center;
    }

    .App-link {
        color: #61dafb;
    }

    .nav {
        font-family: "Arial";
    }

    a {
        padding: 0.2em;
        text-decoration: none;
        display: inline-block;
    }

    .menu_ham {
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    li {
        padding: 0.2em;
        margin: 0.5em;
        background-color: #8d9ed3;
        border-radius: 10px;
        color: white;
        text-align: center;
        display: inline-block;
        box-shadow: 0px 0px 0px 5px #1a2679;
        font-size: large;

    }

}

@media screen and (min-width: 481px) {

    .headerMobile {
        display: none;
    }

    .App {
        text-align: center;
    }

    .App-link {
        color: #61dafb;
    }


    .mytriviapp__content {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }


    .header {
        margin-left: 10em;
        margin-right: 10em;
        margin-top: -2em;
        background-color: #ffffff;
        border-radius: 30px;
        box-shadow: 0px 0px 0px 2px #000000;
    }

    .title {
        font-size: 4em;
        font-family: "Brush Script MT";
    }

    .nav {
        padding-right: 3em;
        padding-left: 3em;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-bottom: 0.5em;
        margin-top: -3em;
        font-family: "Arial";
    }

    a {
        padding: 0.2em;
        text-decoration: none;
        display: inline-block;

    }

    a:hover {
        background: linear-gradient(to bottom, #6c85d7 5%, #4d65b4 100%);
        background-color: #4661a4;
        border-radius: 10px;
    }

    li {
        background-color: #8d9ed3;
        border-radius: 10px;
        color: white;
        text-align: center;
        display: inline-block;
        box-shadow: 0px 0px 0px 2px #1a2679;
        font-size: medium;

    }

    .body {
        padding: 1em;
        width: 80%;
        font-size: 1.5em;
        border-radius: 30px;
        background-color: #ffffff;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        box-shadow: 0px 0px 0px 2px #000000;

    }


    .body__button {
        box-shadow: 0px 0px 0px 2px #9fb4f2;
        background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
        background-color: #7892c2;
        border-radius: 10px;
        border: 1px solid #4e6096;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 19px;
        padding: 5px 30px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #283966;
    }

    .body__button:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
    }

    .body__button:active {
        position: relative;
        top: 1px;
    }

    .div__button {
        display: flex;
        justify-content: space-around;
    }

    .aboutcontent {
        padding: 2em;
        width: 80%;
        border-radius: 30px;
        background-color: #ffffff;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        box-shadow: 0px 0px 0px 5px #000000;
    }



    .mytriviapp {
        width: 80%;
        font-size: 1.5em;
        border-radius: 30px;
        background-color: #ffffff;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        box-shadow: 0px 0px 0px 2px #000000;
    }

    .mytriviapp__button {
        box-shadow: 0px 0px 0px 2px #9fb4f2;
        background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
        background-color: #7892c2;
        border-radius: 10px;
        border: 1px solid #4e6096;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 19px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #283966;
    }

    .remove__button {
        box-shadow: 0px 0px 0px 2px #9fb4f2;
        background: linear-gradient(to bottom, #d76c6c 5%, #b44d4d 100%);
        background-color: #d76c6c;
        border-radius: 10px;
        border: 1px solid #4e6096;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 19px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #283966;
    }

    .welcome {
    }

    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
    }

    .select select {
        font-size: large;
        text-align: center;
        font-family: 'Arial';
        display: inline-block;
        width: 50%;
        cursor: pointer;
        padding: 12px 15px;
        outline: 0;
        border: 2px solid #000000;
        border-radius: 24px;
        background: #abe2e1;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .select select::-ms-expand {
        display: none;
    }

    .select select:hover,
    .select select:focus {
        color: #000000;
        background: #e6b8b8;
    }

    .select select:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    .select_arrow {
        position: relative;
        right: 35px;
        width: 10px;
        height: 10px;
        border: solid #7b7b7b;
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .select select:hover ~ .select_arrow,
    .select select:focus ~ .select_arrow {
        border-color: #000000;
    }

    .select select:disabled ~ .select_arrow {
        border-top-color: #cccccc;
    }

    .salt {
        font-size: xxx-large;
        text-align: right;
        padding-right: 2em;
    }
}

