html {
  margin: 0;

  background: linear-gradient(180deg, #3E6A9E 27%, #9ADFEA 100%);
  font-family: "Garamond";
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
